[tasks.coverage]
clear = true
workspace = false
toolchain = "nightly"
script = { file = "${CARGO_MAKE_WORKING_DIRECTORY}/scripts/coverage.sh", absolute_path = true }


[tasks.review]
workspace = false
install_crate = "cargo-insta"
command = "cargo"
args = [
    "insta",
    "review"
]

[tasks.snapshot]
workspace = false
install_crate = "cargo-insta"
command = "cargo"
args = [
    "insta",
    "test",
    "--unreferenced=delete"
]
